h1 {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.description.list{
    background-color: lightblue;
}

.description {
    background-color: red;
}

.header {
    text-align: center;
}

.images {
  height: auto; 
  width: 310;
}